
body {
    background-color: rgb(235, 179, 75);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
    background-color: antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
}

img {
    height: 300px;
    align-content: center;
    padding-left: 570px;

}

a {
    color: orangered;
    text-decoration: underline;
    text-align: center;
}

#flex { 
    justify-content: center;
}

#imagecontent { 
    text-align: center;
    margin-left: 5px;
    margin-top: 0; 
}

p {
    text-align: center;
}