body {
    background-color: white;
    color: #404040;
    font-size: 11px;
    font-family: 'Georgia', 'Garamond';
    text-align: left;
}

.title {
    font-size: 22px;
    text-align: center;
    font-style: bold;
    font-weight: bold;
}

h1 {
    color: #A4A400;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial';
    background-color: #F0F0F0 ;
    text-decoration: underline;
}

#ingre, #dir, #comment, #link {
    font-size: 18px;
    text-align: left;
    font-style: normal;
}

#c1, #c2, #c3 {
    align-items: center;
    background-color: #FFFFA8;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #A4A400;
}

#tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
  }
  
  #tooltip #tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #A4A400;
    color: black;
    text-align: center;
    position: absolute;
  }

#tooltip:hover #tooltiptext {
    visibility: visible;
  }
  
  #b1 {
    list-style-image: url(pie_icon.gif);
  }